# App
NODE_ENV=development
DB_ENV=local # local or online
PORT=8000

# Frontend
FRONTEND_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=distillery

# supabase
DATABASE_URL=

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=9_character_alphabet
CLOUDINARY_API_KEY=15_chacrater_number
CLOUDINARY_API_SECRET=27_character_alphabet

# Admin User (no DB table — loaded from env)
ADMIN_USERNAME=kritesh@gmail.com
ADMIN_PASSWORD=password
ADMIN_NAME=Kritesh Thapa
ADMIN_EMAIL=kritesh@gmail.com
ADMIN_AVATAR_URL=uploads/default-profile.webp

# Static Files Base URL
APP_BASE_URL=http://localhost:8000
